@model IEnumerable<MusicStore.Models.Genre>
@{
    ViewBag.Title = "Store";
}

<h2 class="type-h2">Store</h2>

<p class="type-sh2">
   Explore our curated collection of @Model.Count() genres and discover your next favorite music
</p>



<div class="row section-gallery m-t-sm">
    @foreach (var genre in Model)
    {
        <div class="col-md-3">

            <figure class="media">
                <div class="media-img media-img-has-label ratio-movie">
                    <a href="/Store/Browse?genre=@genre.Name">
                        <img src="~/Content/Images/MusicGenre.png" alt="" />
                    </a>
                    <span class="media-img-label"><i class="type-sh3">@genre.Name</i></span>
                </div>
            </figure>
        </div>
    }
</div>