@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron theme-dark color-darkblue" style="background-color: #004B50;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-push-12 text-center">
                    
                </div>
                <div class="col-md-12 col-md-pull-12">
                    <div class="type-h2">
                        Inventory Portal
                    </div>
                    <div class="type-sh3">
                        Manage Products and Customers information with ease
                    </div>
                    
                    <div class="btn-group m-t-sm">
                        @Html.ActionLink("Products", "Index", "Product", new { area = "" }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Customers", "Index", "Customer", new { area = "" }, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
